@model AutoDoc.Models.user
@{
    List<SelectListItem> listItems = new List<SelectListItem>();

    var db = new AutoDoc.Models.userEntities();

    var v = db.users.Where(u => u.utype.Equals("DOCTOR")).ToList();

    var check = v;
    //var check = db.users.ToList();

    foreach (var item in check)
    {
        /*@Html.Encode(item.firstname)
        @Html.Encode(item.email)*/
        listItems.Add(new SelectListItem
        {
            Text = item.email,
            Value = item.email
        });
    }
}
    
@{ 
    var appointmentsEntity = new AutoDoc.Models.appointmentEntities();
    var currUserEmail = Session["EMAIL"] as string;

    var returnedBooking = appointmentsEntity.appointments.Where(u => u.user.Equals(currUserEmail) && u.astate.Equals("booked")).ToList();
    var doc = "";
    var date = "";
    var time = "";


    foreach (var booking in returnedBooking)
    {
        doc = booking.doctor;
        date = booking.date;
        time = booking.time;
    }
}

@{
    ViewBag.Title = "OpenUserLanding";
    Layout = "../Shared/UserNav.cshtml";
}

<head>
    <title>Bookings - AutoDoc</title>
    @Styles.Render("~/Content/autodoc-user.css")
    @Styles.Render("~/Content/autodoc-auth.css")
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<div id="view-holder">
    <div id="form-container">
        <!--<form class="auth-form" action="">-->
        <!--<?php $attr = array('id' => 'book-form'); echo form_open('User_controller/BookAppt', $attr);?>-->
        <div class="auth-form" id="login-form">
            <div id="auth-form-title">Book an Appointment</div>
            <div id="auth-form-error"><!--<?php if(isset($error)){echo $error;} ?>--></div>
            @using (Html.BeginForm("OpenUserLanding", "User", FormMethod.Post))
            {
                @Html.DropDownListFor(model => model.doctor, listItems, "-- Select Doctor --", new { @class = "auth-form-input" })
                <div class="auth-form-section">
                    @Html.EditorFor(u => u.date, new
               {
                   htmlAttributes = new
                   {
                       @type = "date",
                       @class = "auth-form-input",
                       /*@placeholder = "date of birth"*/
                   }
               })
                </div>
                <div class="auth-form-section">
                    @Html.EditorFor(u => u.time, new
               {
                   htmlAttributes = new
                   {
                       @type = "time",
                       @class = "auth-form-input"
                       /*@placeholder = "date of birth"*/
                   }
               })
                </div>
                <input class="auth-form-primary-btn" type="submit" value="Submit" />
            }
            @{Html.EndForm();}
        </div>
        <!--</form>-->
        <!--<?php echo form_close();?>-->
    </div>

    <div id="form-container">
        <div id="view-appt-view">
            <div id="auth-form-title">Your Booking</div>
            <!--<?php if($appts=="empty"){return null;}foreach($appts as $app):?>-->

            @{
                if (doc != "")
                {
                    <div class="user-detail">Doctors Email: @Html.Encode(doc)</div>
                    <div class="user-detail">Date: @Html.Encode(date)</div>
                    <div class="user-detail">Time: @Html.Encode(time)</div>
                    @Html.ActionLink("Cancel", "CancelAppointment", "User", new { @class = "auth-form-primary-btn", @id = "cancel" })
                }
            }
            <!--<div class="user-detail">Dr.</div>
    <div class="user-detail"></div>
    <div class="user-detail"></div>-->
            <!--<?php endforeach;?>-->
            <!--<option value="<?php echo $doc->email;?>">Dr. <?php echo $doc->firstname;?> <?php echo $doc->lastname;?></option>-->
            <!--<a href="<?php echo base_url() . " index.php/User_controller/cancel/" . $app->apptid; ?>" class="auth-form-primary-btn" id="cancel">Cancel</a>-->
        </div>
    </div>
</div>

